body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: hue-color 5s ease-in infinite alternate-reverse;
}

@keyframes hue-color {
    0% {
        background-color: rgb(255, 0, 0);
    }

    100% {
        background-color: rgb(238, 255, 0);
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.692);
}

.login-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    z-index: 2
}

.icon-web {
    display: flex;
    justify-content: center;
}

.icon-web img {
    width: 200px;
    height: 200px;
}

.input-user {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 12px;
    border: none;
    column-gap: 6px;
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-user #label-username {
    display: block;
}

.input-user input {
    color: white;
    background-color: rgb(255, 166, 0);
    border: none;
    outline: none;
    flex: 1;
}

.input-user input::placeholder {
    color: rgba(255, 255, 255, 0.767);
}

.user-icon {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.input-user i {
    /* position: absolute; */
    color: rgb(255, 255, 255);
    font-size: 18px;
    /* transform: translateY(5px); */
}

.input-password {
    display: flex;
    border-radius: 10px;
    width: 250px;
    background-color: orange;
    padding: 12px;
    border: none;
    column-gap: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

#label-password {
    display: block;
}

.input-password input {
    color: white;
    background-color: rgb(255, 166, 0);
    border: none;
    outline: none;
    flex: 1;
}

.input-password input::placeholder {
    color: rgba(255, 255, 255, 0.767);
}

.password-icon {
    width: fit-content;
    background-color: rgb(255, 255, 255);
}

.input-password i {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* From Uiverse.io by Galahhad */
/* checkbox settings 👇 */
/* Menggunakan framework chexbox https://uiverse.io/Galahhad/sweet-ape-100 */

.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    transform: scale(0.7) translateY(12px) translateX(4px);
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: orange;
}

.ui-checkbox:checked {
    background: orange;
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.chexbox-password {
    margin-bottom: 12px;
}

label {
    font-family: "Mukta", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
}

#label-password {
    margin-top: 12px;
}

#label-chexbox {
    color: rgba(0, 0, 0, 0.842);
    font-size: 13px;
}

.tombol-submit {
    display: flex;
    justify-content: center;
}

.tombol-submit button {
    background-color: orange;
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 3px;
    font-size: 18px;
    box-shadow: 0px 5px 0px black;
    text-transform: capitalize;
    border: none;
    font-family: "Mukta", serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 12px;
}

.tombol-submit button:active {
    box-shadow: 0px 2.5px 0px rgb(0, 0, 0);
    transform: translateY(5px);
}

.message-container-success {
    position: absolute;
    top: 475px;
    left: 57px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.popup-success-message {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    font-family: "Mukta", serif;
    width: 170px;
    padding: 16px 12px 10px 10px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Geser popup sedikit dari atas */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-message h3 {
    color: green;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding-left: 10px; /* Memberi sedikit jarak antara teks dan gambar */
}

.loading-gif img {
    transform: scale(2);
    width: 40px;
}


i {
    font-family: "Mukta", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}