.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 166, 0, 0.329);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.icon-web {
    display: flex;
    justify-content: center;
}

.icon-web img {
    width: 200px;
    height: 200px;
}

.input-user {
    position: relative;
    margin-bottom: 20px;
}

.input-user #label-username {
    display: block;
}

.input-user input {
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}