<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style/dashboard_style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/image/logo_website.png') }}" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    
    <script src="{{url_for('static', filename = 'dashboard_style/dashboard_style.js')}}"></script>
</body>

</html>